@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Mulish:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* About Me */

.about__me{
    margin-top: 100px;
    margin-bottom: 140px;
}

/* Benefits */

.benefits{
    margin-bottom: 140px;
}

/* My Skills */

.my__skills{
    margin-bottom: 140px;
}

/* Portfolio */

.portfolio{
    margin-bottom: 140px;
}

/* Testimonials */

.testimonials{
    margin-bottom: 140px;
}

/* Contact */

.contact{
    margin-bottom: 140px;
}
